.header {
  /*中間的過度的橫線*/
  .link-top {
    width: 70%;
    height: 1px;
    border-top: solid #49794c 1px;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }

  a {
    font-size: 3em;
    color: #303030;
    margin-bottom: 0.1em;
    font-family: Microsoft JhengHei;
  }
}
